.h1--main {
    width: 100%;
    text-align: center;
}

.btn {
    margin: 1em;
}

.container--main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__item {
    width: 30%;
    padding: 3em;
    margin: 2em;
    min-height: 300px;
    box-shadow: 0px 0px 2px 0px #bbb;
}

.container__item--shop {
    width: 15%;
    height: 200px;
    box-shadow: 0px 0px 10px 0px #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__item--shop img {
    width: 30px;
    height: 30px;
}