.h1--main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 2em 0;
    padding: 0;
}

.btn {
    margin: 1em;
}

.container--main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--shop {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.container__item {
    width: 30%;
    padding: 3em;
    margin: 2em;
    min-height: 300px;
    min-width: 300px;
    box-shadow: 0px 0px 2px 0px #bbb;
}

.container__item--shop {
    padding: 0;
    margin: 1em 1%;
    width: 18%;
    height: 250px;
    min-width: 200px;
    min-height: 200px;
    box-shadow: 0px 0px 10px 0px #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.container__item--shop img {
    width: 30px;
    height: 30px;
}

.shop__item__name {
    font-weight: bold;
    margin: 0.5em 0;
}

.container--buy, .container--party {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

#selectHero {
    width: 350px;
    margin: 1em 0;
    padding: 0.5em 0;
}

.container__item--buy {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.container__item--party {
    width: 50%;
    padding: 1em 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}

.container__item--heroes {
    width: 50%;
    height: 70vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    overflow-x: auto;
}

.hero {
    border: 2px solid #0d1318;
    margin: 2px 3em;
    padding: 15px;
    min-width: 250px;
    min-height: 400px;
    background: white;
}

.container__item--dark {
    background: #eee;
}