<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>home</title>
        <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    </head>
    <body>
        <div class="container">
            <h1 class="col-sm-12">Heroes</h1>
            <p>Your Camp: <span th:text="${selectedCamp.name}"></span></p>


            <div class="col-sm-8">
                <p>Party: <span th:text="${selectedCamp.party.members.size()}+'\4'"></span></p>
                <div th:each="hero : ${selectedCamp.party.members}" style="border: 2px solid #0d1318; margin: 2px" class="col-sm-4">
                    <img th:src="'data:image/png;base64,'+${hero.image}" alt="Hero Image" height="150" width="150" style="margin: 0 auto">
                    <form class="form-horizontal" th:action="@{/removeHeroFromParty}" enctype="multipart/form-data" >
                        <input type="hidden" th:value="${hero.id}" name="heroID" required/>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Remove</button>
                        </span>
                    </form>
                    <h3 th:text="${hero.name}"></h3>
                    <p style="margin-bottom: 1px">HP:
                    <div class="progress" style="margin-bottom: 2px">
                        <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.hp}+'%; background-color:green'" th:aria-valuenow="${hero.hp}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.hp}"></div>
                    </div>
                    </p>
                    <p style="margin-bottom: 1px">Def:
                    <div class="progress" style="margin-bottom: 2px">
                        <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.def}+'%; background-color:blue'" th:aria-valuenow="${hero.def}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.def}"></div>
                    </div>
                    </p>
                    <p style="margin-bottom: 1px">Atk:
                    <div class="progress" style="margin-bottom: 2px">
                        <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.atk}+'%; background-color:red'" th:aria-valuenow="${hero.atk}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.atk}"></div>
                    </div>
                    </p>
                </div>
            </div>
            <div class="col-sm-8">
                <p>Heroes: <span th:text="${heroesNotInParty.size()}"></span></p>
                <div th:each="hero : ${heroesNotInParty}" style="border: 2px solid #0d1318; margin: 2px" class="col-sm-4">
                    <img th:src="'data:image/png;base64,'+${hero.image}" alt="Hero Image" height="150" width="150" style="margin: 0 auto">
                    <form class="form-horizontal" th:action="@{/addHeroToParty}" enctype="multipart/form-data" >
                        <input type="hidden" th:value="${hero.id}" name="heroID" required/>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add</button>
                        </span>
                    </form>
                    <h3 th:text="${hero.name}"></h3>
                    <p style="margin-bottom: 1px">HP:
                    <div class="progress" style="margin-bottom: 2px">
                        <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.hp}+'%; background-color:green'" th:aria-valuenow="${hero.hp}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.hp}"></div>
                    </div>
                    </p>
                    <p style="margin-bottom: 1px">Def:
                    <div class="progress" style="margin-bottom: 2px">
                        <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.def}+'%; background-color:blue'" th:aria-valuenow="${hero.def}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.def}"></div>
                    </div>
                    </p>
                    <p style="margin-bottom: 1px">Atk:
                    <div class="progress" style="margin-bottom: 2px">
                        <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.atk}+'%; background-color:red'" th:aria-valuenow="${hero.atk}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.atk}"></div>
                    </div>
                    </p>
                </div>
            </div>

            <div class="col-sm-3">
                <form class="form-horizontal" th:action="@{/addHero}" enctype="multipart/form-data" >
                    <p>Name: <input type="text" th:value="${heroName}" name="heroName" required/></p>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">new Hero</button>
                    </span>
                </form>
                <br>
                <form class="form-horizontal" th:action="@{/}" enctype="multipart/form-data" >
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Back</button>
                    </span>
                </form>
            </div>

        </div>
    </body>
</html>