<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>home</title>
        <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    </head>
    <body>
        <div class="container">
            <h1 class="col-sm-12">Heroes</h1>
            <p>Your Camp: <span th:text="${selectedCamp.name}"/></p>

            <form class="form-horizontal" th:action="@{/battle}" enctype="multipart/form-data" >
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Promote Fight</button>
                </span>
            </form>

            <span th:text="${result}"/>
        <br>
            <form class="form-horizontal" th:action="@{/campForm}" enctype="multipart/form-data" >
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Change Camp</button>
                </span>
            </form>

        </div>
    </body>
</html>