<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Heroes | Buy Item</title>
    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="/custom.css" media="screen"/>
    <script src="/jquery-3.4.1.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            (window.displayHero = function() {
                var selectedHero = ".hero-"+$("#selectHero option:selected").text();
                var selectedHeroID = $("#selectHero option:selected").val();
                $(".hero").hide();
                $(selectedHero).show();
                $("#heroID").val(selectedHeroID);
            })();
            $("#selectHero").on('change', displayHero);
        });
    </script>
</head>
<body>
    <h1 class="col-sm-12 h1--main">Buy Item</h1>
    <div class="container container--buy">
        <div class="container__item container__item--buy container__item--dark">
            <select name="heroID" id="selectHero">
                <option th:each="hero : ${heroes}" th:value="${hero.id}" th:text="${hero.name}"></option>
            </select>
            <div th:each="hero : ${heroes}" style="background:white;border:2px solid #0d1318;margin:2px;width:350px" th:class="@{col-sm-4 hero hero-{name} (name=${hero.name})}" hidden>
                <img th:src="'data:image/png;base64,'+${hero.image}" alt="Hero Image" height="150" width="150" style="margin: 0 auto">
                <h3 th:text="${hero.name}"></h3>
                <p><i>Gold: <span th:text="${hero.gold}"></span></i></p>
                <p style="margin-bottom: 1px">HP:
                <div class="progress" style="margin-bottom: 2px">
                    <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.hp}+'%; background-color:green'" th:aria-valuenow="${hero.hp}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.hp}"></div>
                </div>
                </p>
                <p style="margin-bottom: 1px">Def:
                <div class="progress" style="margin-bottom: 2px">
                    <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.def}+'%; background-color:blue'" th:aria-valuenow="${hero.def}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.def}"></div>
                </div>
                </p>
                <p style="margin-bottom: 1px">Atk:
                <div class="progress" style="margin-bottom: 2px">
                    <div class="progress-bar" role="progressbar" th:style="'width:'+${hero.atk}+'%; background-color:red'" th:aria-valuenow="${hero.atk}" aria-valuemin="0" aria-valuemax="100" th:text="${hero.atk}"></div>
                </div>
                </p>
            </div>
        </div>
        <div class="container__item container__item--buy">
            <div class="container__item container__item--shop" style="box-shadow: none;">
                <img th:src="@{/{imgname}.png(imgname=${item.itemType})}" th:alt="${item.name}">
                <p class="shop__item__name"><span th:text="${item.name}"/></p>
                <p class="shop__item__price"><span th:text="${item.price}"/> Gold</p>
                <form th:action="@{/shopApplyItem}" enctype="multipart/form-data">
                    <input type="hidden" name="itemID" th:value="${item.id}">
                    <input type="hidden" name="heroID" id="heroID">
                    <button type="submit" class="btn btn-default">Buy</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>